<html>
    <head>
        <title>Lista</title>
    </head>
    <body>
        {{#if alunos}}
            <div>
                <h1>Lista de Alunos</h1>
                <ul>
                    {{#each alunos}}
                        <li>{{this.nome}} - {{this.email}} - {{this.telefone}} - {{this.endereco}} </li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <h1>Nenhum aluno cadastrado</h1>
        {{/if}}
        {{>voltar}}
    </body>
</html>